/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  background-image: url(/static/img/header-bg.png);
}

.title {
  font-family: 'Universo';
}

.subtitle {
  font-family: 'Universo';
  color: #d9d9d9;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

